[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "kooplearn"
description = 'A Python package implementing kernel-based algorithms to learn the Koopman operator.'
readme = "README.md"
requires-python = ">=3.7"
license = "MIT"
keywords = []
authors = [
  { name = "Pietro Novelli", email = "pietro.novelli@iit.it"},
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
]
dependencies = [
  "numpy",
  "scipy",
  "scikit-learn",
]
dynamic = ["version"]

[project.optional-dependencies]
gpu_support = [
  "pykeops",
  "torch",
]
docs = [
  "sphinx-book-theme",
]

[project.urls]
Documentation = "https://github.com/CSML-IIT-UCL/kooplearn#readme"
Issues = "https://github.com/CSML-IIT-UCL/kooplearn/issues"
Source = "https://github.com/CSML-IIT-UCL/kooplearn"

[tool.hatch.version]
path = "kooplearn/__about__.py"

[tool.hatch.envs.default]
dependencies = [
  "pytest",
  "pytest-cov",
  "sphinx",
  "sphinx-book-theme",
  "jinja2<3.1.0",
  "tqdm"
]

[tool.hatch.envs.default.scripts]
cov = "pytest --cov-report=term-missing --cov-config=pyproject.toml --cov=kooplearn --cov=tests {args}"
no-cov = "cov --no-cov {args}"
apidoc = "sphinx-apidoc -f -T -e -o docs/_source/api kooplearn"
build_docs = "sphinx-build -b html docs/_source docs/_build"

[tool.hatch.envs.test]

[[tool.hatch.envs.test.matrix]]
python = ["37", "38", "39", "310", "311"]

[tool.coverage.run]
branch = true
parallel = true
omit = [
  "kooplearn/__about__.py",
]

[tool.coverage.report]
exclude_lines = [
  "no cov",
  "if __name__ == .__main__.:",
  "if TYPE_CHECKING:",
]

[tool.hatch.build.targets.wheel]
packages = ["kooplearn"]

[tool.ruff]
line-length = 200
